<%- include('partials/header.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-3">Category qo'shmoq</h2>
        <form method="POST">
          <div class="form-group">
            <label for="categ">Category</label>
            <input name="name" type="text" class="form-control" id="categ" placeholder="Title">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Categoriyalar</h2>
        <ul class="list-group">
          <% categorys.forEach(category => { %>
            <li class="list-group-item">
                <div class="alert alert-success">
                  <div>Name: <%= category.name %></div>
                  <div> Id : <%= category.id %>></div>
                </div>
            </li>
          <%  }); %> 
         
        </ul>
      </div>
    </div>

  </div>


  <%- include('partials/footer.ejs') %>